<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p th:if="${return!=null}">
    <script>
      var a=null;
    </script>
          <p th:if="${return=='sameid'}">
            <script>
              a="이미존재한 아이디 입니다";
            </script>
          </p>
          <p th:if="${return=='emthy'}">
            <script>
              a="빈칸이 존재 합니다";
            </script>
          </p>
   <script>
     alert(a);
   </script>
  </p>
  <a href="index.html">홈</a>

  <form action="joinprocess" method="post">
      <input type="text" name="id" placeholder="write id">
      <input type="password" name="pwd" placeholder="write pwd">
      <input type="email" name="email" placeholder="write email">
      <input type="name" name="name" placeholder="write name">
      <input type="submit" value="완료">
  </form>
</body>
</html>